<main>
    <!-- FORMULARIO -->
    <div class="d-flex justify-content-center my-3">      
        <button type="button" class="btn btn-success m-2" onclick="mostrarTablaContactos()">Mostrar contactos</button>
        <button type="button" class="btn btn-primary m-2" onclick="abrirModalCrearContacto()">
            Crear Contacto
        </button>
    </div>

     <!-- TABLA DE CONTACTOS -->
    <div class="container col-12 col-lg-6 d-flex justify-content-center" id="contactosContainer"></div>


    <!-- NOTIFICACIONES -->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">

        <div id="notificacion" class="toast align-items-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true">
            
            <div class="toast-header p-0">
                <div class="notificacion-icono"><i id="notificacionIcono"></i></div>
                <strong class="me-auto" id="notificacionTitulo"></strong>
                <button type="button" class="btn-close m-2" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>

            <div class="toast-body" id="notificacionMensaje"></div>

        </div>
    </div>

    <!-- MODAL -->
    <div class="modal fade" id="crearContactoModal" tabindex="-1" aria-labelledby="tituloCrearContactoModal" aria-hidden="true">
        <div class="modal-lg modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tituloModal">Nuevo Contacto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- FORMULARIO -->
                <form onsubmit="guardarNuevoContacto()" method="dialog" id="formulario">
                    <div class="modal-body">
                        <!-- NOMBRE Y APELLIDO -->
                        <div class="row mb-3">
                            <div class="col-6">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" name="nombre" id="formNombre" pattern="[\D]*" title="El campo nombre NO puede contener numeros" required />
                            </div>

                            <div class="col-6">
                                <label for="nombre" class="form-label">Apellido</label>
                                <input type="text" class="form-control" name="apellido" id="formApellido" pattern="[^0-9]*" title="El campo apellido NO puede contener numeros" required />
                            </div>
                        </div>
                        
                        <!-- EMAIL Y WPP -->
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bi bi-envelope-at"></i></span>
                            <input type="email" class="form-control me-4" name="email" id="formEmail" required />

                            <span class="input-group-text"><i class="bi bi-whatsapp"></i></span>
                            <input type="tel" class="form-control" name="telefono" id="formTelefono" pattern="[\d]{9,11}" title="El campo telefono solo puede contener numeros y tener entre 9 y 11 caracteres" required />
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success" id="botonCrearModificar">Crear Contacto</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</main>